h1 {
  color: orange;
  text-align: center;
}
body {
  background-color: lightblue;
}
.subtitle {
  color: blue;
  text-align: center;
}
* {
  color: tomato;
}
.title,
ol,
ul {
  font-weight: 900;
  color: rgb(0, 0, 0);
  text-align: initial;
}
i {
  color: inherit;
}
