h1 {
  color: orange;
  text-align: center;
}
body {
  background-color: lightblue;
}
.subtitle {
  color: blue;
  text-align: center;
}
* {
  color: tomato;
}
.title,
ol,
ul {
  font-weight: 900;
  color: rgb(0, 0, 0);
  text-align: initial;
}
i {
  color: inherit;
}
* {
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
}
/* img {
  border: 10px chartreuse dotted;
} */
#planet {
  margin-left: 100px;
  padding: 50px 20px;
}
/* div > img {
  display: none;
} */
.start_site {
  background-color: blueviolet;
}
